<div class="ui-g">
  <div class="ui-g-12"></div>
  <div class="ui-g-12"></div>
  <div class="ui-g-12"></div>
  <div class="ui-g-2"></div>
  <div class="ui-g-5" style="align:center">
    <div class="ui-g-12"></div>
    <img src="../../assets/meemprestavizinho.png" width="150">
  </div>
  <div class="ui-g-5">
    <div class="ui-g-12" style="font-size:20px;font-weight: bold">
      Me empresta, vizinho!
    </div>
    <div class="ui-g-12">
    </div>
    <div class="ui-g-12">
      Compartilhe aquela escada, furadeira, livro e até mesmo fantasia com seus colegas de condomínio
    </div>
    <div class="ui-g-12">
    </div>
    <div class="ui-g-3"></div>
    <div class="ui-g-8">
      <!--<div (click)="teste()" class="fb-login-button" data-max-rows="1" data-size="small" data-button-type="login_with"-->
           <!--data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="true">-->
      <!--</div>-->
      <div (click)="teste()" onlogin="teste()" style="position:absolute" class="fb-login-button">
      </div>
      <button pButton type="button" label="Entrar" icon-pos="left" icon="fa-facebook" (click)="loginWithFacebook()" style="align:center"
              class="fb"></button>
    </div>
  </div>
</div>
