<div class="ui-g">
  <div class="ui-g-12" style="font-size:36px;text-align:center">
    O que você precisa emprestado?
  </div>
  <div class="ui-g-3">
  </div>
  <div class="ui-g-3">
    Nome
  </div>
  <div class="ui-g-3">
    Categoria
  </div>
  <div class="ui-g-3">
  </div>
  <div class="ui-g-3">
  </div>
  <div class="ui-g-3">
    <input type="text" pInputText [(ngModel)]="searchText" style="width:200px"/>
  </div>
  <div class="ui-g-3">
    <p-dropdown [options]="categories" [(ngModel)]="searchCategory"></p-dropdown>
  </div>
  <div class="ui-g-3">
    <button pButton type="button" label="Buscar" (click)="search()" class="ui-button-info"></button>
  </div>
</div>
<br/>
<ng-container *ngFor="let product of productGrid">
  <div class="ui-g ui-g-nopad">
    <div class="ui-g-1">
      <img src="../../../assets/fill.jpg" width="90">
    </div>
    <div class="ui-g-1">
      {{product.nomeProduto}},
      <br/>
      de {{product.idUsuario}}
    </div>
    <div class="ui-g-1">
      <button pButton type="button" label="Pedir" (click)="pedir(product)" class="ui-button-info"></button>
    </div>
  </div>
</ng-container>
